#users_container {
    cursor: pointer;
}
#users_container div.online {
    color: green;
}
#users_container div.offline {
    color: red;
}
#users_container div.active {
    background-color: #00A5E3;
}