#dialog_container {
    float: right;
    margin-right: 40px;
    max-width: 55%;
    border: 1px solid black;
    width: 55%;
    padding-bottom: 10%;
}
#users_container {
    cursor: pointer;
}
#users_container div.online {
    color: green;
}
#users_container div.offline {
    color: red;
}
#users_container div.active {
    background-color: #00A5E3;
}